.git/
.env
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
**/__pycache__/
**/*.py[cod]
**/.DS_Store
*.log
models/
ray_tmp/
hua_yan_robo/
docs/*.pdf
third_party/xtuner/
third_party/sofa_env/.github/
third_party/sofa_env/docs/
third_party/sofa_env/tests/
web/node_modules/
web/dist/
